.certs-main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 40px;
    overflow-y: auto;
}

.certs-container {
    width: 60%;
    max-width: 1200px;
    max-height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(0, 37, 84);
    align-items: center;
}

.text {
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(0, 37, 84);
}

.table-name {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 37, 84);
}

.td {
    padding: 10px;
    text-align: center;
    background-color: rgb(178, 180, 178);
    border-top-style: solid;
}

.th {
    background-color: rgb(255, 199, 44);
    color: #000000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1000px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}